/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

.card{
  position: relative;
  background: linear-gradient(to bottom,#171a21, #171a21);
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-height: 500px;
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: linear-gradient(to bottom, #247aa1, #171a21);
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 60%;
  width: auto;
  border-radius: 8%;
  padding: 3px;
  background: linear-gradient(to bottom, #247aa1, #171a21);
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8%;
  border: 3px solid #1b2838;
}

.card .description{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.old-price {
  text-decoration: line-through;
  display: block;
}

.new-price {
  font-weight: bold;
  display: block;
}

.description .desc{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: linear-gradient(to top, transparent, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .button{
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  outline: none;
  border: none;
  color: gray;
  padding: 8px 22px;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
  flex-direction: row;
  width: 100%;
}

.card .button img {
  margin-right: 2px;
  margin-left: 5px;
  height: 32px; /* Set the height of the image */
  width: 32px; /* Maintain aspect ratio */
}

.button button:hover{
  background: linear-gradient(to right, #75b022, #588a1b);
  color: white;
}


.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 50px;
  background: #247aa1;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color:  #247aa1;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color:  #247aa1;
}