/*======================================================================================================================
Fonts CSS
======================================================================================================================*/

@font-face {
    font-family: 'Super Indie';
    src: url('Font/Super-Indie.ttf') format('truetype');
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .center-button-container {
        margin-top: 10px; /* Adjust the value as needed */
    }

    .button-container {
        margin-top: 5px; /* Adjust the value as needed */
    }
}

/*======================================================================================================================
BANNER CSS
======================================================================================================================*/
.banner {
    background-color: #171a21 ;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Super Indie', sans-serif;
}

.header {
    margin: 0;
}

h1 {
    font-size: 60px; /* Adjust the value as needed */
    margin: 0.01em 0;
}

/*======================================================================================================================
Discord CSS
======================================================================================================================*/

.header-discord {
    color: white;
    font-size: 20px;
    font-family: 'Super Indie', sans-serif;
    /* Add more styles as needed */
}

.button-container {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    align-items: center;
}

.buttonB {
    background-color: #5865f3;
    color: white;
    padding: 15px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Super Indie', sans-serif;
}

/*======================================================================================================================
Steam Community Button CSS
======================================================================================================================*/

.center-button-container{
    position: absolute;
    left: 50%;
    top: 2.5%;
    z-index: 100;
}

.buttonImage {
    background-image: url("https://avatars.akamai.steamstatic.com/af92896d0f91960a1330f9bb2fd3a41409ae126b_full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    cursor: pointer; /* Set the mouse cursor to pointer */
    transition: background-image 0.3s ease-in-out
}

.buttonImage:hover {
    filter: brightness(80%);
}

/*======================================================================================================================
Main Page CSS
======================================================================================================================*/

.page-content {
    height: calc(100vh - 15%);
    overflow-y: scroll;
    /* Additional styles for the content */
    background:radial-gradient(circle,#40658f, #171a21 );
    margin-top: 0;
}

/*======================================================================================================================
Subtitles CSS
======================================================================================================================*/

.subtitle {
    color: white;
    font-size: 40px;
    margin: 0.01em 0;
    margin-left: 20px;
    font-family: 'Super Indie', sans-serif;
    /* Add more styles as needed */
}

/*======================================================================================================================
Swiper CSS
======================================================================================================================*/

.swiper-container {
    position: relative;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.swiper-slide {
    background:linear-gradient(to bottom,#171a21, #171a21 50%);
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    text-align:center;
    height: 100%;
}

.swiper-pagination {
    position: absolute;
    bottom: 15px; /* Adjust the bottom value as needed */
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*======================================================================================================================
Cards CSS
======================================================================================================================*/

.image{
    height: 60%;
    width: auto;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(to bottom, #247aa1, #171a21);
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #1b2838;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    color: white;
}

.description .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(to top, transparent, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 60px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}

.old-price {
    font-size: 0.5em; /* Adjust the size as needed */
    text-decoration: line-through;
    height: auto;
}

 .button{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    outline: none;
    border: none;
    margin-top: 10px;
}

 .button button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: gray;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.button img {
    margin-right: 20px;
    margin-left: 20px;
    height: 32px;
    width: 32px;
}

.button button:hover{
    background: linear-gradient(to right, #75b022, #588a1b);
    color: white;
}

/*======================================================================================================================
Footer CSS
======================================================================================================================*/ 
.fa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171a21;
    padding: 10px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
